.alert {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 15px;
    color: white;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: slideIn 0.3s ease-out forwards;
}

.alert-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.alert-success {
    background-color: #1DB954;
}

.alert-warning {
    background-color: #b4b91d;
}

.alert-danger {
    background-color: #b91d1d;
}

.alertExit {
    animation: slideOut 0.3s ease-in forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100px);
        opacity: 0;
    }
}