.main {
    padding: 20px;
    height: calc(100vh - 80px);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.error {
    color: red;
}